.toolbar-icon-domain-menu::before {
  background-image: url('../icon/world-wide-web-svgrepo-com.svg');
}

#gin-toolbar-bar .toolbar-icon-domain-menu::before {
  -webkit-mask-image: url('../icon/world-wide-web-svgrepo-com.svg') !important;
  mask-image: url('../icon/world-wide-web-svgrepo-com.svg') !important;
}
